{% extends 'emails/base_email.html' %}
{% load i18n %}

{% block title %}
{% trans "Reset your password" %}
{% endblock title %}

{% block caption %}
<h1>{% trans "You have received this message because an instruction to change the password from your account at wroclawskiewalentynki.pl has been issued." %}</h1>
{% endblock caption %}

{% block content %}
<a href="form.wroclawskiewalentynki.pl/reset/{{ uid }}/{{ token }}" class="button">
    {% trans "Reset your password" %}
</a><br>
{% trans "If the button above does not work, please copy and paste the following URL into your web browser:" %}
<div class="link">
<code>
    form.wroclawskiewalentynki.pl/reset/{{ uid }}/{{ token }}
</code>
</div>
{% endblock content %}
