{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block caption %}
<h1>{{ header }}</h1>
<p>{{ message }}</p>
{% trans "Administrator options:" %} 
<a onclick="display_message()"><button>{{ button_label }}</button></a>
{% endblock caption %}

{% block script %}
<script>
    function display_message(){
        if("{{ alert_message }}" != "None"){
            alert("{{ alert_message }}");
        }
        window.location.replace("{{ redirect_url }}");
    }
</script>
{% endblock script %}