{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Start matching" %}{% endblock title %}

{% block content %}

<div class="container py-5">
	<h2>{{ message }}</h2>
	<button type="button" id="proceed_button" onclick="display_message()">
        {% trans 'Proceed' %}
    </button>
</div>

{% endblock content %}

{% block script %}
<script>
    function display_message(){
        alert("{% trans 'Please remember to make a backup of the database! (before clicking OK button)' %}");
        window.location.replace("{% url 'start_matching2' %}");
    }
</script>
{% endblock script %}