{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ caption }}{% endblock title %}

{% block caption %}
<h1 class="hi">{% trans "Hi!" %}</h1>
{% if request.user.is_authenticated %}
<p>{% trans "Thank you for staying with us. Fill out the form so we can meet you with someone." %}</p>
{% else %}
<p>{% trans "Thank you for coming back to us. Fill out the form to proceed." %}</p>
{% endif %}
{% endblock caption %}

{% block content %}
<section>
	<form method="post">
		{% csrf_token %}
		<fieldset>
			<legend>{{ caption }}</legend>
			{{ form.non_field_errors }}
			{% for field in form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}
				{{ field }}
				{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
				{% if field.id_for_label == "id_password" and forgot_password %}
				<a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
				<br>
				{% endif %}
			</div>
			<br>
			{% endfor %}
			<input class="sep" type="submit" value="{{ caption }}">
		</fieldset>
	</form>
</section>
{% endblock content %}

{% block script %}
<script>
	const field = document.getElementById('id_username');
	document.getElementById('id_username').onkeypress = function(e) {
		var char = String.fromCharCode(e.which);
		if(" ".indexOf(char) >= 0)
		return false;
	};
</script>
{% endblock script %}
