{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container py-5">
	<h1>{% trans "Login" %}</h1>
	<form method="post">
		{% csrf_token %}
		{{ login_form|crispy }}
		<button class="btn btn-primary" type="submit">{% trans "Log in" %}</button>
	</form>
	{% url 'register' as register_url%}
	{% blocktrans %}
	<p class="text-center">Don't have an account? <a href="{{ register_url }}">Create an acccount</a>.</p>
	{% endblocktrans %}
</div>

{% endblock content %}