{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Password change" %}{% endblock title %}

{% block caption %}
<h1 class="hi">{% trans "Hi!" %}</h1>
<p>{% trans "Having troubles with logging in?" %}</p>
{% endblock caption %}

{% block content %}
<section>
	<form method="post">
		{% csrf_token %}
		<fieldset>
			<legend>{% trans "Password change" %}</legend>
			<div>
			{{ form.non_field_errors }}
			{{ form.email.errors }}
			{{ form.email.label_tag }}
			{{ form.email }}
			</div>
			<br>
			<input class="sep" type="submit" value="{% trans "Send mail" %}">
		</fieldset>
	</form>
</section>
{% endblock content %}
