{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Password change" %}{% endblock title %}

{% block caption %}
<h1 class="hi">{% trans "Hi!" %}</h1>

{% if validlink %}
<p>{% trans "Use the form below to change your password." %}</p>
{% else %}
{% url 'password_reset' as url %}
<p>
    {% blocktrans %}
    The password reset link is invalid. It's probably already been used. Please <a href="{{ url }}">generate another link</a> or <a href="mailto:admin@wroclawskiewalentynki.pl">contact the administrator</a>.
    {% endblocktrans %}
</p>
{% endif %}
{% endblock caption %}

{% block content %}
<section>
    {% if validlink %}
	<form method="post">
		{% csrf_token %}
		<fieldset>
			<legend>{% trans "Password change" %}</legend>
			<div>
			{{ form.non_field_errors }}

            {{ form.new_password1.label_tag }}
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}

            <br><br>

            {{ form.new_password2.label_tag }}
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
            </div>
            <br>
			<input class="sep" type="submit" value="{% trans "Change password" %}">
		</fieldset>
	</form>
    {% endif %}
</section>
{% endblock content %}
