{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Terms of use" %}{% endblock title %}

{% block caption %}
<h1 class="hi">{% trans "Hi!" %}</h1>
{% trans "See the document below or use the options listed." %}
{% endblock caption %}

{% block content %}
<main>
<section>
<h2>Regulamin</h2>
<h3>Rozdział I<br>Postanowienia ogólne<br></h3>
<ol>
<li>Niniejszy Regulamin akcji „Wrocławskie Walentynki 2023” (dalej jako: „Regulamin”) dotyczy warunków uczestnictwa i organizacji akcji Wrocławskie Walentynki 2023 (dalej jako: „Akcja”) organizowanej przez Samorząd Uczniowski w Liceum Ogólnokształcącym nr III im. Adama Mickiewicza we Wrocławiu (dalej jako: „Organizator”).</li>
<li>Przez „Użytkowników” rozumie się uczniów liceów znajdujących się we Wrocławiu, którzy dołączą do Akcji poprzez wypełnienia formularza dostępnego na stronie internetowej Akcji pod adresem: www.wroclawskiewalentynki.pl.</li>
<li>Przez „Szkoły partnerskie” rozumie się te licea znajdujące się we Wrocławiu, których Samorządy Uczniowskie wyraziły wolę stania się Szkołą partnerską i uzyskały zgodę Dyrektora szkoły.</li>
<li>Przez „Przedstawicieli Szkół partnerskich” rozumie się Samorządy Uczniowskie działające w Szkołach Partnerskich.</li>
<li>O ile niniejszy regulamin nie stanowi inaczej, wszystkie pojęcia należy rozumieć tak, jak zostały tutaj określone.</li>
<li>Aktualny regulamin jest dostępny na stronie internetowej Akcji pod adresem: www.wroclawskiewalentynki.pl.</li>
<li>Organizator zastrzega sobie prawo do zbierania oraz analizowania anonimowych danych dotyczących korzystania ze strony internetowej akcji pod adresem: www.wroclawskiewalentynki.pl.</li>
</ol>
<h3>Rozdział II<br>Strona internetowa Akcji oraz warunki dotyczące Użytkowników<br></h3>
<ol>
<li>Na stronie internetowej Akcji dostępnej pod adresem: www.wroclawskiewalentynki.pl mogą pojawiać się logotypy sponsorów i partnerów Akcji.</li>
<li>Strona internetowa Akcji stanowi kanał komunikacji między Organizatorem a Użytkownikami.</li>
<li>Do Akcji dołączyć mogą wyłącznie osoby, o których mowa w rozdz. 1 ust. 2 powyżej.</li>
<li>Żeby dołączyć do akcji należy wypełnić formularz dostępny pod adresem: www.wroclawskiewalentynki.pl.</li>
<li>Wypełnienie formularza jest możliwe wyłącznie po założeniu konta na stronie internetowej organizatora dostępnej pod adresem: www.wroclawskiewalentynki.pl.
Wypełnienie formularza nie jest możliwe bez podania kodu, składającego się z trzech znaków. Kod ten może być rozpowszechniany poprzez materiały promocyjne lub podany do wiadomości Przedstawicieli Szkół partnerskich.</li>
<li>Dnia 14 lutego 2023 roku każdy Użytkownik, który dołączył do Akcji otrzyma dostęp do czatu z innym Użytkownikiem.</li>
<li>Podstawowym celem działania czatu jest umożliwienie kontaktu dwóm Użytkownikom.</li>
<li>Czat posiada możliwość zgłoszenia przemocy werbalnej Organizatorowi.</li>
<li>Czat zostanie zamknięty 28 lutego 2023 r.</li>
</ol>
<h3>Rozdział III<br>Prawa i obowiązki Organizatora oraz Szkół partnerskich<br></h3>
<ol>
<li>Organizator ma prawo do zbierania i przetwarzania anonimowo zebranych danych dotyczących korzystania ze strony internetowej dostępnej pod adresem: www.wroclawskiewalentynki.pl. Warunki zbierania i przetwarzania określa Polityka prywatności dostępna na stronie internetowej Organizatora dostępnej pod adresem www.wroclawskiewalentynki.pl.</li>
<li>Organizator zastrzega sobie prawo do usunięcia konta Użytkownika w przypadku naruszenia niniejszego Regulaminu lub działania niezgodnego z prawem, w szczególności nawoływania do nienawiści lub przemocy wobec grup społecznych.</li>
<li>Organizator zastrzega sobie prawo do dowolnego rozporządzania stroną internetową dostępną pod adresem: www.wroclawskiewalentynki.pl.</li>
<li>Organizator zastrzega sobie prawo do usunięcia wszystkich danych użytkowników bez podania przyczyny.</li>
<li>Organizator nie bierze odpowiedzialności za treść wiadomości wysyłanych na czacie, a także za ewentualne konsekwencje wynikłe z korzystania ze strony internetowej dostępnej pod adresem: www.wroclawskiewalentynki.pl.</li>
<li>Organizator informuje Przedstawicieli Szkół partnerskich o przebiegu akcji i dostarcza materiały promocyjne Akcji (w tym plakaty, ulotki, naklejki itd.).
Obowiązkiem Przedstawicieli Szkół partnerskich jest rozpowszechnienie dostarczonych przez Organizatora materiałów promocyjnych, a także innych przekazanych przez Organizatora informacji (w tym kodów dostępu).</li>
<li>Przedstawiciele Szkół partnerskich mają prawo do uzyskiwania dodatkowych informacji o Akcji kontaktując się bezpośrednio z organizatorem poprzez wskazane przez Organizatora kanały komunikacji.</li>
<li>W przypadku rażącego naruszenia Regulaminu, zasad współżycia społecznego lub przepisów prawa, Organizator zastrzega sobie prawo do usunięcia konta Użytkownika lub usunięcia wszystkich kont powiązanych z daną Szkołą partnerską. Ponadto organizator zastrzega sobie prawo do zerwania współpracy ze Szkołą partnerską.</li>
</ol>
<h3>Rozdział IV<br>Postanowienia końcowe<br></h3>
<ol>
<li>Co do spraw nieuregulowanych w Regulaminie oraz innych przepisach prawa decyzje podejmuje Organizator i są to decyzje ostateczne.</li>
<li>Od decyzji podjętych przez Organizatora na podstawie niniejszego Regulaminu nie przewiduje się trybu odwoławczego.</li>
<li>Regulamin wchodzi w życie z dniem ogłoszenia.</li>
<li>O istotnych zmianach w Regulaminie organizator informuje Przedstawicieli Szkół partnerskich oraz Użytkowników.</li>
</ol>
</section>
</main>
{% endblock content %}
